@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --secondary: 210 40% 96.1%;
    --primary: 222.2 47.4% 11.2%;
  }

  .dark {
    --primary: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
  }
}

@layer components {
  * {
    @apply m-0 p-0 box-border;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-tertiary border-none bg-opacity-80 rounded-lg;
  }

  .debug {
    @apply border-2 border-red-600;
  }

  /* FLEX BOX STYLING */

  .flex-row-centered {
    @apply flex items-center justify-center;
  }

  .flex-col-centered {
    @apply flex flex-col items-center justify-center;
  }

  /* GRID STYLING */

  .grid-lg {
    @apply grid phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-4 2xl:grid-cols-5 gap-3 py-3 place-items-center;
  }

  .grid-md {
    @apply grid phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 2xl:grid-cols-4 gap-3 py-3 place-items-center;
  }

  .icon-styling {
    @apply text-slate-700 m-0.5 cursor-pointer w-6 h-6;
  }

  .button {
    @apply bg-primary/90 backdrop-blur-lg uppercase outline-none text-white font-bold text-center flex justify-center w-48 items-center py-3 px-4 mb-4 cursor-pointer rounded-full;
  }

  /* MODAL STYLING */
  .modal-overlay {
    @apply fixed inset-0 bg-slate-400/30 backdrop-blur-lg flex flex-col z-30 overflow-auto overflow-x-hidden py-5 justify-center;
  }

  /* FORM STYLING */
  .form-wrap {
    @apply w-[85vw] tablet:w-[60vw] laptop:w-[40vw]  mx-auto bg-white flex flex-col justify-start items-center h-auto  overflow-auto overflow-x-hidden rounded-lg;
  }

  .form-styling {
    @apply w-full px-5 flex flex-col justify-start items-center;
  }
  .input-wrap {
    @apply flex flex-col justify-center items-start  gap-2 my-0.5 w-full;
  }

  .input-styling {
    @apply w-full px-2 bg-slate-200 appearance-none h-10 border-2 text-gray-700 leading-tight focus:border-tertiary placeholder:text-sm rounded-md;
  }

  textarea {
    @apply input-styling py-2 min-h-24;
  }

  label {
    @apply capitalize;
  }

  input::placeholder {
    @apply capitalize;
  }
}
